@import './default.scss';

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: grey;
  background-color: #323638;
  border-radius: 25px;
  border-style: solid;
  margin: auto;
  padding: 20px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-container {
  margin: 20px;
}

.input-edit {
  background-color: #323638 !important;
  border-radius: 6px !important;
  width: max-content !important;
  width: 80% !important;
  padding: 5px !important;
  align-self: center !important;
}

.contact-paragraph {
  @include paragraph();
  font-family: 'Arial';
  margin: auto;
  margin-top: 2%;
  width: 80%;
  max-width: 1000px;
  color: whitesmoke;
  text-align: justify;
  margin-bottom: 5%;
}

.submit-btn-edit {
  width: 25%;
  min-width: 125px;
  margin-left: 10%;
}

.text-inputs {
  color: whitesmoke;
}

.label {
  width: 80%;
  text-align: left;
  margin: auto;
}
