@import './default.scss';

.contact-background {
  @include background();
  background-image: url('../images/laptop.jpg');

  min-height: 500px;
  min-height: 100vh;
  height: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-head {
  border-bottom: medium;
  font-family: 'Arial Narrow';
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 3.6em;
  font-stretch: condensed;
  font-weight: 100;
  font-stretch: narrower;
  color: whitesmoke;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding: auto;
  width: min-content;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 211, 211);
  justify-content: center;
  border-color: grey;
  border-radius: 25px;
  border-style: solid;
  margin: auto;
  padding: 20px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-container {
  margin: 20px;
}

.input-edit {
  border-radius: 6px;
  background-color: rgb(233, 233, 233);
  width: max-content;
  width: 80%;
  padding: 5px;
  align-self: center;
}

.contact-paragraph {
  @include paragraph();
  margin: auto;
  margin-top: 2%;
}

.submit-btn-edit {
  width: 25%;
  min-width: 125px;
  margin-left: 10%;
}
