.page-wrap {
  background-image: url(../images/homePage-typing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  height: 100%;
  display: flex;
}
.main-content {
  @media screen and (min-width: 1000px) {
    flex: 78%;
    flex-grow: 1;

    position: relative;
    z-index: 50 !important;
  }
}

.darken {
  @media screen and (max-width: 999px) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.background-img {
  background-image: url(../images/homePage-typing.jpg);
}
