.home-img {
  background-image: url(../images/homePage-typing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  height: 100%;
}
