.home-content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-title {
  font-family: monospace;
  color: whitesmoke;
}

.home-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-width: thin;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 2%;
}

.home-background {
  background-image: url(../images/bridge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  height: 100%;
  width: 100%;
  height: fit-content;
}
