.particles-canvas {
  position: fixed;

  z-index: -10;
}

.sidebar-container {
  flex: 22%;
  height: 100%;
  z-index: 99;
}

.sidebar {
  flex: auto;
  width: 22%;
  min-width: 220px;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow-x: hidden;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  left: 0;
  z-index: 10;
  @media screen and (max-width: 999px) {
    left: -100%;
  }
}

.sidebar.open {
  -webkit-animation: slide-open 0.2s forwards;
  animation: slide-open 0.2s forwards;
}

@keyframes slide-open {
  100% {
    left: 0;
  }
}

.toggle-sidebar {
  margin: 10px;
  z-index: 5;
  @media screen and (min-width: 999px) {
    left: 100%;
  }
}

.nav-links {
  color: whitesmoke;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
  text-align: center;
}

.nav-links:hover {
  color: #1c8dde;
}

.link-row {
  top: 0px;
  width: 100%;
  position: absolute;
  background-color: #080808;
}

.links {
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
}
.link {
  color: whitesmoke;
}

@mixin top-icons {
  font-size: 1.7rem;
}

.github {
  @include top-icons();
  color: orangered;
}

.home {
  @include top-icons();
  color: #117864;
}
.resume {
  @include top-icons();
  color: yellow;
}
.linkedin {
  @include top-icons();
  color: blue;
}
