@import './default.scss';

.works-background {
  @include background();

  background: radial-gradient(
    circle,
    rgba(118, 192, 255, 1) 0%,
    rgba(0, 39, 73, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.darken {
  @media screen and (max-width: 999px) {
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.works-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 0;
}

.modal-trigger {
  width: 100% !important;
}

.card-title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2.5em !important;
}

.card-content {
  margin: 0;
  width: 100%;
  padding: 0px !important;
}

.works-card:hover {
  transform: scale(1.05);
}

.card-header {
  font-size: 3.6em;
}

.card-header-mercury {
  margin: 0;
  font-size: 1.8em;
  width: 100%;
}

.bring-it {
  background: radial-gradient(circle, #576cbc 0%, rgba(32, 32, 32, 1) 100%);
}

.bring-it.open {
  top: 57% !important;
}

.ecosnap {
  background: radial-gradient(circle, #576cbc 0%, rgba(32, 32, 32, 1) 100%);
}

.ecosnap.open {
  top: 57% !important;
}

.modal-koga {
  background: radial-gradient(circle, #576cbc 0%, rgba(32, 32, 32, 1) 100%);
}

.modal-koga.open {
  top: 50% !important;
}

.mercury-scraping {
  background: radial-gradient(circle, #576cbc 0%, rgba(32, 32, 32, 1) 100%);
}

.mercury-scraping.open {
  top: 50% !important;
}

.works-class-container {
  width: 100%;
  .works-class {
    font-size: 2.4em;
    width: fit-content;
    margin: 2% 5% 1% 5%;
  }
}

.works-card {
  transition: all 0.5s ease-in-out;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 25vh;
  width: 40%;
  min-width: 300px;
  min-height: 175px !important;
  margin: 0% 5%;
  text-align: center;
  @media screen and (max-width: 999px) {
    width: 80%;
    margin: 5% 10%;
  }
}

.works-card-single {
  transition: all 0.5s ease-in-out;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 25vh;
  min-width: 300px;
  min-height: 175px !important;
  margin: auto;
  text-align: center;
  float: none !important;
  width: 40%;
  @media screen and (max-width: 999px) {
    width: 80%;
    margin: 5% 10%;
  }
}
