.particles-canvas canvas {
  position: fixed !important;
  z-index: -10 !important;
  width: 20% !important;
  height: 100vh !important;
}

.sidebar-container {
  display: flex;
  flex: 22%;
  height: 100%;
  z-index: 99;
  @media screen and (max-width: 999px) {
    left: -100%;
    flex-shrink: 10;
  }
}

.sidebar {
  width: 22%;
  min-width: 200px;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow-x: hidden;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  left: 0;
  z-index: 10;
  @media screen and (max-width: 999px) {
    left: -100%;
  }
}

.sidebar.open {
  -webkit-animation: slide-open 0.2s forwards;
  animation: slide-open 0.2s forwards;
}

@keyframes slide-open {
  100% {
    left: 0;
  }
}

.toggle-sidebar {
  margin: 10px;
  z-index: 5;
  position: fixed;
  color: whitesmoke;
  @media screen and (min-width: 999px) {
    left: 100%;
  }
}

.nav-links {
  color: whitesmoke;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
  text-align: center;
}

.nav-links:hover {
  color: #1c8dde;
}

.link-row {
  top: 0px;
  width: 100%;
  position: absolute;
  background-color: #080808;
}

.links {
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
}
.link {
  color: whitesmoke;
}

@mixin top-icons {
  font-size: 1.7rem;
}

.github {
  @include top-icons();
  color: rgb(255, 69, 0);
}

.github:hover {
  color: rgba(255, 69, 0, 0.5);
}

.home {
  @include top-icons();
  color: rgb(17, 120, 100);
}

.home:hover {
  color: rgba(17, 120, 100, 0.5);
}

.resume {
  @include top-icons();
  color: yellow;
}

.resume:hover {
  color: rgba(255, 255, 0, 0.5);
}

.linkedin {
  @include top-icons();
  color: blue;
}

.linkedin:hover {
  color: rgba(0, 0, 255, 0.5);
}
