@import "./default.scss";

.works-background {
  @include background();

  background: radial-gradient(
    circle,
    rgba(118, 192, 255, 1) 0%,
    rgba(0, 39, 73, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.darken {
  @media screen and (max-width: 999px) {
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.works-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 0;
}

.works-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  transition: all 0.5s ease-in-out;
  width: 40%;
  min-width: 300px;
}

.works-card:hover {
  transform: scale(1.05);
}

.card-header {
  font-size: 3.6em;
}

.bring-it {
  background: radial-gradient(
    circle,
    rgba(63, 128, 255, 1) 0%,
    rgba(44, 0, 140, 1) 100%
  );
}

.ecosnap {
  background: radial-gradient(
    circle,
    rgba(6, 194, 24, 1) 0%,
    rgba(38, 124, 200, 1) 100%
  );
}

.mercury-scraping {
  background: radial-gradient(
    circle,
    rgba(194, 98, 6, 1) 0%,
    rgba(44, 0, 140, 1) 100%
  );
}

.works-class-container {
  width: 100%;
  .works-class {
    font-size: 2.4em;
    width: fit-content;
    margin: 2% 5% 1% 5%;
  }
}
